<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <header class="bg-main padding-width-header">
      <section class="top-header">
       <div class="div-main-header">
         <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo" />  
         <form class="search-bar">
            <input type="search" name="search" id="search" style="margin-top: 16px; margin-bottom: 16px;"/>
             <button type="submit" id="search-button" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; height: 20px;align-self: center;">
            <i class="fas fa-search"></i>
           </button>
          </form>
          <p class="text-center" style="font-size: 24px;">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
          </p>
       </div>
       <a class="burger-menu">
         <i class="fas fa-bars"></i>
       </a>
      </section>
      <nav class="main-navbar">
        <ul style="display: flex;">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul style="display: flex;">
          <li>
            <a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main> <form action="" method="get" class="margin-y-16 main-form">
        <label class="hidden" for="fullname">Nombre y apellido</label>
        <input
          class="input-box"
          type="text"
          name="fullname"
          id="fullname"
          placeholder="Nombre y apellido"
        />

        <label class="hidden" for="username">Nombre de usuari@</label>
        <input
          class="input-box"
          type="text"
          name="username"
          id="username"
          placeholder="Nombre de usuari@"
        />

        <label class="hidden" for="email">Email</label>
        <input
          class="input-box"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
        />

        <label for="birthdate" style="font-size: 15px;">Fecha de nacimiento</label>
        <input class="input-box" type="date" name="birthdate" id="birthdate" />

        <label class="hidden" for="address">Domicilio</label>
        <input
          class="input-box"
          type="text"
          name="address"
          id="address"
          placeholder="Domicilio"
        />

        <label style="font-size: 15px;">Perfil de usuario</label>
        <div class="radio-list">
          <div style="margin-top: 10px;margin-bottom: 10px; margin-left: 20px;">
            <input
             class=""
             type="radio"
             name="userProfile"
             id="buyerProfile"
             value="buyerProfile"
            />
            <label for="buyerProfile"style="font-size: 13px;"> Comprador</label>
           <input
             class=""
             type="radio"
             name="userProfile"
             id="sellerProfile"
             value="sellerProfile"
            />
            <label for="sellerProfile"style="font-size: 13px;"> Vendedor</label>
          </div>
          </div>
        <label style="font-size: 15px;">Intereses</label>
        <div class="checkbox-list">
          <div>
            <input
              class="checkbox-input"
              type="checkbox"
              name="intereses"
              id="electro"
              value="electro"
            />
            <label for="electro" style="font-size: 13px;"> Electro</label>
          </div>
          <div>
            <input
              class="checkbox-input"
              type="checkbox"
              name="intereses"
              id="moda"
              value="moda"
            />
            <label for="moda" style="font-size: 13px;"> Moda</label>
          </div>
          <div>
            <input
              class="checkbox-input"
              type="checkbox"
              name="intereses"
              id="hogar"
              value="hogar"
            />
            <label for="hogar" style="font-size: 13px;"> Hogar</label>
          </div>
        </div>

        <label for="profilePic" style="font-size: 15px;">Foto de perfil</label>
        <input
          class="input-box"
          type="file"
          name="profilePic"
          id="profilePic"
          placeholder="Foto de perfil"
        />

        <label class="hidden" for="password">Contraseña</label>
        <input
          class="input-box"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
        />

        <label class="hidden" for="confirmPassword">Confirme Contraseña</label>
        <input
          class="input-box"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirme Contraseña"
        />

        <button class="button-primary send-button" type="submit">Enviar!</button>

        <button class="button-gray" type="reset">Restablecer</button>
      </form>
    </main>
    <footer class="footer-icon footer">
      <section class="footer-section">
        <section><p><i class="fas fa-credit-card" style="font-size: 2em; color: #1259c3;margin: auto; margin-bottom: 10px;margin-top: 20px;"></i></p>
            <strong>Paga con tarjeta o en efectivo</strong>
             <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
               puntos de pago. ¡Y siempre es seguro!
             </p>
        </section>
        <section><p><i class="fas fa-gift" style="font-size: 2em; color: #1259c3; margin: auto; margin-bottom: 10px;margin-top: 20px; "></i></p>
              <strong>Envío gratis desde $ 2.500</strong>
              <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.
              </p>
        </section> 
        <section><p><i class="fas fa-user-shield" style="font-size: 2em; color: #1259c3; margin: auto; margin-bottom: 10px;margin-top: 20px;"></i></p>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>
        </section>
        <section style="margin: auto; margin-bottom: 10px;margin-top: 20px;">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
      </section>
    </footer>
  </body> 